.sidebar{
    padding-top: 16px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    background-color: #e3f2fd;
    width: auto;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 3;
}

h4{
    text-align: center;
}