.operations-content{
    max-width: 350px;
    background-color: #e3f2fd; 
    padding: 8px 16px; 
    border-radius: 8px;
    margin-right: 8px;
}

.w-100{
    width: 100%;
}

.average-operations-content{
    width: 100%;
}

h4{
    margin-right: 8px;
}
span{
    margin-bottom: 8px; 
    width: 100%;
}

button{
    height: fit-content;
}

#inputGroupFile04{
    cursor: pointer;
}

.sidebar{
    padding: 16px;
    background-color: #e3f2fd;
    width: auto;
    border-radius: 8px;
    display: absolute;
    left: -120px;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 3;
}

h4{
    text-align: center;
}