<div [@hidden]="showMenu ? 'hide' : 'show'" class="sidebar shadow-lg">
    <h4>Pesquisar dados</h4>
    <div class="input-group mb-3">
        <input (input)=refreshList(findReseller.value) #findReseller type="text" class="form-control" placeholder="Revendedora" aria-label="Revendedora"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button (click)="getFuelPriceHistoryByResellerName(findReseller.value)" class="btn btn-outline-secondary"
                type="button">Pesquisar</button>
        </div>
    </div>
    <div class="input-group mb-3">
        <input (input)=refreshList(findRegion.value) #findRegion type="text" class="form-control" placeholder="Região" aria-label="Região"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button (click)="getFuelsPricesHistoriesByRegionName(findRegion.value)" class="btn btn-outline-secondary"
                type="button">Pesquisar</button>
        </div>
    </div>
    <div class="input-group mb-3">
        <input (input)=refreshList(findDate.value) #findDate type="text" class="form-control" placeholder="Data (dd/MM/yyyy)" aria-label="Data (dd/MM/yyyy)"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button (click)="getFuelPriceHistoryByDate(findDate.value)" class="btn btn-outline-secondary"
                type="button">Pesquisar</button>
        </div>
    </div>
    <h4>Médias de preço</h4>
    <h5>Preços de Venda</h5>
    <div class="input-group">
        <input #avgPursaCounty type="text" class="form-control" placeholder="Município" aria-label="Município"
            aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
            <span class="input-group-text">{{avgSalesPriceCountyName || "0.00"}}</span>
            <button (click)="findAvgSalesPriceCountyName(avgPursaCounty.value)" class="btn btn-outline-secondary"
                type="button">Calcular</button>
        </div>
    </div>
    <div class="input-group">
        <input #avgSalesPriceBanner type="text" class="form-control" placeholder="Bandeira" aria-label="Município"
            aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
            <span class="input-group-text">{{avgSalesPriceBannerName || "0.00"}}</span>
            <button (click)="findAvgSalesPriceBannerName(avgPurchasePriceBanner.value)"
                class="btn btn-outline-secondary" type="button">Calcular</button>
        </div>
    </div>
    <h5>Preços de Compra</h5>
    <div class="input-group">
        <input #avgCounty type="text" class="form-control" placeholder="Município" aria-label="Município"
            aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
            <span class="input-group-text">{{avgPurchasePriceCountyName || "0.00"}}</span>
            <button (click)="findAvgPurchasePriceCountyName(avgCounty.value)" class="btn btn-outline-secondary"
                type="button">Calcular</button>
        </div>
    </div>
    <div class="input-group">
        <input #avgPurchasePriceBanner type="text" class="form-control" placeholder="Bandeira" aria-label="Município"
            aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
            <span class="input-group-text">{{avgPurchasePriceBannerName || "0.00"}}</span>
            <button (click)="findAvgPurchasePriceBannerName(avgPurchasePriceBanner.value)"
                class="btn btn-outline-secondary" type="button">Calcular</button>
        </div>
    </div>
    <h5>Preços de Compra e Venda</h5>
    <div class="input-group">
        <input #generalAvgCounty type="text" class="form-control" placeholder="Município" aria-label="Município"
            aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
            <span class="input-group-text">{{avgPurchaseAndSalesPriceByCountyName||"0.00"}}</span>
            <button (click)="findAvgPurchaseAndSalesPriceByCountyName(generalAvgCounty.value)"
                class="btn btn-outline-secondary" type="button">Calcular</button>
        </div>
    </div>
    <div class="input-group">
        <input #generalAvgBanner type="text" class="form-control" placeholder="Bandeira" aria-label="Bandeira"
            aria-describedby="button-addon4">
        <div class="input-group-append" id="button-addon4">
            <span class="input-group-text">{{avgPurchaseAndSalesPriceByBannerName||"0.00"}}</span>
            <button (click)="findAvgPurchaseAndSalesPriceByBannerName(generalAvgBanner.value)"
                class="btn btn-outline-secondary" type="button">Calcular</button>
        </div>
    </div>
</div>