<nav class="navbar navbar-expand-lg navbar-dark shadow-lg sticky-top d-flex justify-content-arround">
  <div class="d-flex align-items-center">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button (click)=showMenu() class="menu">
      <span class="material-icons">
        menu
      </span>
    </button>
    <a class="navbar-brand d-flex align-items-center">
      <img src="../../../assets/logo.svg" width="48" height="48" class="logo d-inline-block align-top" alt="">
      ANP-Infopreço
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link">Consulta de Dados<span class="sr-only">(current)</span></a>
      </li>
      <li style="display: none;" class="nav-item">
        <a class="nav-link">Usuários</a>
      </li>
    </ul>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <span>{{userName}}</span>
    <button style="display: none;" class="btn btn-success" type="button">Editar Perfil</button>
    <button (click)="logout()" class="btn btn-danger" type="button">Sair</button>
  </div>
</nav>