<app-navbar (showMenuEvent)=showMenu($event) [menuIsShow]=menuIsShow></app-navbar>
<div class="operations">
    <app-operations-fuel-price-history-sidebar 
        [showMenu]=menuIsShow
        (loaderDisplayEvent)=loaderDisplayStatus($event)
        (createFuelPriceHistoryEvent)=updateFuelPriceSelect($event)
        (updateFuelsPricesHistoryEvent)=updateFuelsPrices($event)>
    </app-operations-fuel-price-history-sidebar>
    <app-list-fuel-price-history
        [loaderDisplayStatus]=loaderDisplay 
        [showMenu]=menuIsShow
        [fuelPriceHistories]=fuelPriceHistories
        [fuelPriceHistorySelect]=fuelPriceHistorySelected 
        (fuelsPriceHistoryChangeEvent)=updateFuelsPrices($event)
        (fuelPriceHistorySelectEvent)=updateFuelPriceSelect($event)>
    </app-list-fuel-price-history>
</div>
<app-edit-fuel-price-history
    [fuelPriceHistory]=fuelPriceHistorySelected
    (fuelCreateEvent)=addFuelPrice($event) 
    (fuelPriceRemoveEvent)=removeFuelPrice($event)
    (fuelPriceSaveEvent)=updateFuelPrice($event)>
</app-edit-fuel-price-history>